/* emoji-dropdown-menu */
.emoji-dropdown-menu {
  list-style: none;
  min-width: 160px;
  margin-top: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  padding: 0;
}

.emoji-dropdown-menu li a {
  display: block;
  height: 41px;
  line-height: 24px;
  padding: 8px 12px;
  color: #777;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 14;
}

.emoji-dropdown-menu > li.textcomplete-item.active,
.emoji-dropdown-menu > li > a:focus,
.emoji-dropdown-menu > li > a:hover {
  color: #060606;
  background-color: #f5f8fa
}

.emoji-dropdown-menu > li.textcomplete-header,
.emoji-dropdown-menu > li.textcomplete-footer {
  display: none;
}

.emoji-dropdown-menu li .joypixels {
  transform-origin: left;
  transform: scale(0.75, 0.75);
  float: left;
}

/* emoji-picker */
.emoji-dialog .emoji {
  width: 40px;
  height: 40px;
}

.emoji-dialog .emoji .joypixels {
  transform-origin: left;
  transform: scale(0.75, 0.75);
  margin: 0;
}

